<style>
  #customize-list {
    float: left;
    margin-left: 20px;
    list-style: none;
  }
  #gr_updates_widget {
    float: left;
    border-radius: 5px;
    background-color: #fff;
    border: solid #fefe54 0px;
    -webkit-box-shadow: 0px 0px 4px 1px #595959, inset 0px 0px 0px 1px #7d730b;
    -moz-box-shadow: 0px 0px 4px 1px #595959, inset 0px 0px 0px 1px #7d730b;
    box-shadow: 0px 0px 4px 1px #595959, inset 0px 0px 0px 1px #7d730b;
    padding: 15px 0 0px 15px;
    width: 100%;
    height: 365px;
  }
  #gr_updates_widget p {
    padding: 0px;
    margin: 0;
    font-size: 14px;
  }
</style>
<div class="widget">
  <h4>Reading</h4>
  <div id="gr_updates_widget">
    <iframe
      sandbox
      id="the_iframe"
      src="https://goodreads.com/widgets/user_update_widget?height=400&num_updates=5&user=109476335"
      width="100%"
      height="330"
      frameborder="0"
    ></iframe>
  </div>

  <a
    href="https://www.goodreads.com/review/list/109476335?shelf=read"
    title="Adam's book recommendations, liked quotes, book clubs, book lists (read shelf)"
    ,
    rel="nofollow"
    ><img
      border="0"
      alt="Adam's book recommendations, liked quotes, book clubs, book lists (read shelf)"
      src="https://s.gr-assets.com/images/badge/badge1.jpg"
  /></a>
</div>
