<div class="widget">
  <h4>Misc</h4>
  <p>Number of website visits:</p>
  <script
    type="text/javascript"
    src="//counter.websiteout.com/js/2/6/0/0"
  ></script>
  <p>Guestbook:</p>
  <a href="http://users2.smartgb.com/g/g.php?a=s&i=g26-39389-5a" target="_blank">Leave a message on my guestbook!</a>
</div>
