<div class="widget">
    <h4>Misc</h4>
    <p>Number of website visits:</p>
    <script type="text/javascript" src="//counter.websiteout.com/js/2/6/0/0"></script>
    <p>Guestbook:</p>
    <p>todo</p>
</div>
    



