<div class="widget">
  <h4>Misc</h4>
  <p>Number of website visits:</p>
  <script
    type="text/javascript"
    src="//counter.websiteout.com/js/2/6/0/0"
  ></script>
  <p>Guestbook:</p>
  <a href="http://users2.smartgb.com/g/g.php?a=s&i=g26-39389-5a" target="_blank">Leave a message on my guestbook!</a>
  <br><br>
  <p>Latest Tweets:</p>
  <a class="twitter-timeline" 
    data-lang="en" 
    data-width="300" 
    data-height="500"
    data-dnt="true" 
    data-theme="light" 
    href="https://twitter.com/Adamouization?ref_src=twsrc%5Etfw">Tweets by Adamouization</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>
