<div class="widget">
    <h4>Virtual Pet</h4>
    <iframe 
        width="100%" 
        height="321" 
        scrolling="yes" 
        src="https://gifypet.neocities.org/pet/pet.html?name=Mr. Frog&dob=1713176621&gender=m&element=Water&pet=frog.gif&map=hills.jpg&background=&tablecolor=%23fefb00&textcolor=white">
    </iframe>
</div>