<div class="widget">
    <h4>Newsletter sign-up</h4>
<!--    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdVfFOWIgUE5tPjI-f7Ftibbow7DGEJLiPCi9qqXhLCVAXcqA/viewform?embedded=true" -->
<!--            width="100%" -->
<!--            height="300" -->
<!--            marginheight="0" -->
<!--            marginwidth="0">-->
<!--        Loading…-->
<!--    </iframe>-->
    <iframe src="https://adamouization.substack.com/embed"
            width="100%"
            height="150"
            style="border:1px solid #EEE; background:white;"
            frameborder="0"
            scrolling="no">

    </iframe>
</div>
