<div class="widget">
    <h4>Newsletter</h4>
    <!-- feed widget: https://substackapi.com/feed -->
    <div id="substack-feed-embed"></div>
    <script>
        window.SubstackFeedWidget = {
            substackUrl: "adamouization.substack.com",
            posts: 2,
            hidden: ["author", "image"],
            colors: {
                primary: "#404040",
                secondary: "#808080",
                background: "#FFFFFF",
            }
        };
    </script>
    <script src="https://substackapi.com/embeds/feed.js" async></script>
    <!-- signup form -->
    <br />
    <p>Newsletter <a href="https://substack.com/@adamouization" target="_blank">sign-up</a></p>
    <iframe src="https://adamouization.substack.com/embed" width="100%" height="150"
        style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no">

    </iframe>
</div>