<div class="widget">
  <h4>StackExchange</h4>
  <a href="https://stackexchange.com/users/7368221/adam-jaamour"
    ><img
      src="https://stackexchange.com/users/flair/7368221.png"
      width="208"
      height="58"
      alt="profile for Adam Jaamour on Stack Exchange, a network of free, community-driven Q&amp;A sites"
      title="profile for Adam Jaamour on Stack Exchange, a network of free, community-driven Q&amp;A sites"
  /></a>
  <p>
    Topics contributed to:
    <a
      href="https://stackoverflow.com/users/5609328/adam-jaamour"
      target="_blank"
      >programming</a
    >;
    <a
      href="https://datascience.stackexchange.com/users/141580/adam-jaamour"
      target="_blank"
      >data science</a
    >;
    <a
      href="https://gaming.stackexchange.com/users/153536/adam-jaamour"
      target="_blank"
      >video games</a
    >;
    <a
      href="https://sports.stackexchange.com/users/14017/adam-jaamour"
      target="_blank"
      >sports (F1)</a
    >.
  </p>
</div>
