<div class="widget">
    <h4>Latest Tweets</h4>
    <a class="twitter-timeline" 
    data-lang="en" 
    data-width="300" 
    data-height="500"
    data-dnt="true" 
    data-theme="light" 
    href="https://twitter.com/Adamouization?ref_src=twsrc%5Etfw">Tweets by Adamouization</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>