<p><% if (config.author){ %>
  &copy; 2023 - <%= new Date().getFullYear() %> <%= config.author %>.
  <% } else { %>
  &copy; 2023 - <%= new Date().getFullYear() %> <%= config.title %>.
  <% } %>
   Built with <a href="http://hexo.io/" target="_blank">Hexo</a>. Email newsletter <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVfFOWIgUE5tPjI-f7Ftibbow7DGEJLiPCi9qqXhLCVAXcqA/viewform?usp=sf_link" target="_blank">sign-up</a>. 
</p>
