<p><% if (config.author){ %>
  &copy; 2023 - <%= new Date().getFullYear() %> <%= config.author %>.
  <% } else { %>
  &copy; 2023 - <%= new Date().getFullYear() %> <%= config.title %>.
  <% } %>
   Built with <a href="http://hexo.io/" target="_blank">Hexo</a>. 
</p>
