<% page.comment = true; %>

<%- partial('_partial/article', {item: page, post: true}) %>

<br><br>
If you enjoyed reading this, consider <a href="https://substack.com/@adamouization" target="_blank">signing up to the email newsletter</a> to get new posts directly in your mailbox! You can sign-up <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVfFOWIgUE5tPjI-f7Ftibbow7DGEJLiPCi9qqXhLCVAXcqA/viewform?usp=sf_link" target="_blank">here</a>.